# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules.bin-autoprefixer
node_modules.bin-baseline-browser-mapping
node_modules.bin-browserslist
node_modules.bin-cssesc
node_modules.bin-esbuild
node_modules.bin-jiti
node_modules.bin-jsesc
node_modules.bin-json5
node_modules.bin-loose-envify
node_modules.bin-nanoid
node_modules.bin-parser
node_modules.bin-resolve
node_modules.bin-rollup
node_modules.bin-semver
node_modules.bin-sucrase
node_modules.bin-sucrase-node
node_modules.bin-tailwind
node_modules.bin-tailwindcss
node_modules.bin-update-browserslist-db
node_modules.bin-vite
